.catalog-cart {
    display: flex;
    flex-wrap: wrap;
    width: 880px;
    height: auto;
    justify-content: space-around;
  }
  .cart-sneackers{
    width: 280px;
  height: 390px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  
  
  }
  
  
  .all-cart {
    margin-top: 20px;
    width: 200px;
    height: 60px;
    border-radius: 4px 0px 0px 0px;
    background: rgba(241, 79, 79, 1);
    color: white;
    cursor: pointer;
    
  }
  
  .all-cart:hover{
    background: rgb(171, 7, 7);
    transform: scale(1.05);
  }
  .all-cart:active{
    background: rgb(243, 196, 196);
    transform: scale(1);
  }
  .sneaker-image {
    max-width: 280px;
    height: auto;
  }
  .cart-viewing{
    width: 100px;
  height:30px;
  margin-bottom: 5px;
  background: rgb(217, 217, 217);
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  }
  