.faq-container {
  width: 1180px;
  margin: auto;
}
.faq-accordion-container {
  margin-left: 0;
  width: 1030px;
}
@media (max-width: 1024px) {
  .faq-container {
    width: 729px;
    margin: auto;
  }
}
@media (max-width: 1024px) {
  .faq-accordion-container {
    margin-left: 0;
    width: 720px;
  }
}
@media (max-width: 480px) {
  .faq-container {
    width: 420px;
    margin: auto;
  }
}
@media (max-width: 480px) {
  .faq-accordion-container {
    margin-left: 0;
    width: 420px;
  }
}
@media (max-width: 375px) {
  .faq-container {
    width: 320px;
    margin: auto;
  }
}
@media (max-width: 375px) {
  .faq-accordion-container {
    margin-left: 0;
    width: 320px;
  }
}