@media (max-width: 1024px) {
  .about-container {
    width: 100%;
    height: 420px;
    margin-top: 15px;
  }
}
@media (max-width: 1024px) {
  .about-figure {
    width: 430px;
    height: 350px;
  }
}
@media (max-width: 1024px) {
  .about-figure-img {
    width: 430px;
    height: 350px;
  }
}
@media (max-width: 1024px) {
  .about-text {
    width: 320px;
    height: 190px;
  }
}
@media (max-width: 1024px) {
  .about-image {
    width: 480px;
    height: 420px;
  }
}
@media (max-width: 1024px) {
.about-image-png{
    width: 480px;
    height: 420px;
}}

