.catalog {
  margin-left: 100px;
  margin-right: 100px;
  width: 1180px;
  height: auto;
  opacity: 0px;
  /* border-width: 0px, 0px, 0px, 0px; */
  display: flex;
  flex-direction: column;
}
.catalog-block1 {
  width: 117px;
  height: 30px;
  font-family: 'Intro';
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: rgba(68, 75, 88, 1);
}
.catalog-block2 {
  display: flex;
}
.catalog-filter {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 597px;
  border-width: 0px, 0px, 0px, 0px;
  color: rgb(44, 43, 43);
  background: rgb(238, 215, 187);
}
.filter-text {
  width: 240px;
  height: 48px;
  font-family: 'Introt';
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  display: flex;
  text-align: center;

  color: rgba(68, 75, 88, 1);
}
.catalog-cart {
  display: flex;
  flex-wrap: wrap;
 
}
.catalog-filter-price{
    display: flex;
   justify-content: space-around;
   align-items:center;
   padding-top: 15px;
   border-top: 1px solid  rgba(178, 181, 187, 1);
   border-right: 1px solid  rgba(178, 181, 187, 1);
   border-left: 1px solid  rgba(178, 181, 187, 1);
   margin-right: 15px;
   margin-left: 15px;
   margin-bottom: 10px;
 
}
.filter-price{
  width:200px;
height: 16px;
font-family: 'Introt';
font-size: 16px;
font-weight: 400;
line-height: 16px;
text-align: left;
margin-top: 10px;
margin-left: 15px;
}
.catalog-polosa{
  width: 27px;
  height: 0px;
  top: 780px;
  left: 510px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  transform: rotate(-90deg);
  border: 1px solid rgba(178, 181, 187, 1);
 
  
}
.slide-filter{
  width: 216px;
 margin: auto;
  align-items: center;
  padding-left: 6px;
}
