.label-size{
display: flex;
width: 120px;
height: 24px;


}
.size2-container{
width: 100%;
height: 25px;
display: flex;
align-items: center;
justify-content:flex-start;
margin-top: 20px;
gap:60px;


}
.img-size{
    width: 100%;
height: 282px;
border-radius: 4px 0px 0px 0px;
margin-top: 20px;
 

}
.quiz-h3{
    margin-top: 15px;
}
.size-stranicza{
    
    margin-left: 0;
    margin-top:  70px;
    position: absolute;
       
}
.quiz-polosa3{
    width: 100%;
    height: 2px;
    background-color: rgb(120, 128, 142);
   margin-top: 38px;
}
.custom-radio {
    display: flex;
    width: 24px;
    height: 24px;
    border: 2px solid #ccc; 
    background-color: white;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease; 
  }
  
  .custom-radio::before { 
    content: '';
    position: absolute;
    top: 0;
    left: 15%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 12px;
    height: 12px;
    border: 1px solid transparent;
    border-top: 3px solid gray;
    border-right: 3px solid gray;
    transform: rotate(130deg);
    opacity: 0;  
    transition: opacity 0.2s ease; 
  }
  
  .custom-radio.checked::before {
    opacity: 1;
  }
  @media (max-width: 1024px) {
    .label-size{
      width: 110px;
      height: 24px;
    }}
    @media (max-width: 1024px) {
    
    .custom-radio{
        width: 20px;
        height: 20px;
        border: 2px solid #ccc;
        background-color: white;
        margin-right: 0px;
      }}
      @media (max-width: 1024px) {
        .size2-container{
          display: flex;
          justify-content: space-between;
          gap: 0;
        }}
        @media (max-width: 1024px) {
          .quiz-polosa3{
            margin-top: 58px;
          }}
  
